<form action="/users" method="post" accept-charset="UTF-8">
  <div>
    <label for="user[username]">Username: </label>
    <input type="text" name="user[username]">
  </div>
  <div>
    <label for="user[email]">Email: </label>
    <input type="email" name="user[email]">
  </div>
  <div>
    <label for="user[password]">Password: </label>
    <input type="password" name="user[password]">
  </div>
  <div><button type="submit">Submit</button></div>
</form>